

<%= button_to "SELL", new_item_path, :class => "btn btn-large", :method => "get" %> <br/> 

<h3>Or</h3>

<br/>

<h1>Buy in your community</h1>

<br/>

<div class="row">
<% @groups.each do |g| %>
	  <div class="group_tile"><strong><%= g.name %></strong><%= link_to image_tag(g.avatar.url(:medium)), g %></div> 
<% end %>
</div>