<h1 align="center" class="tagline">Buy and sell in your community</h1>

<br/>


<div class="groups" align="center">
	<% @groups.each do |g| %>
		  <div class="group_tile">
		  	<strong></strong>
		  	<div class="group_name">
		  		<%= g.name %>
		  	</div>
			<%= link_to image_tag(g.avatar.url(:medium), 
			    :class => "circular_group"), g %>
		  </div> 

	<% end %>
</div>


