

<div>
	<%= image_tag (@user.image), :class => "big_user_photo" %>
</div>

<%= @user.name %>

<%= @user.location %>

<% if @user == current_user %>
	<%= link_to 'Edit', edit_user_registration_path(@user) %>
<% end %>

